@import "fonts.css";

body {
  font-family: Galaxie;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/priscilla-du-preez-789503-unsplash-min.jpg');
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.header {
  position: fixed;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  background-color: rgb(255, 102, 0);
  color: white;
}

.stories-section {
  margin-top: 60px;
  height: 100%;
  width: 70%;
  min-width: 438px;
}

.stories-card {
  margin:  16px 0;
  min-width: 438px;
  overflow: hidden;
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.90);
}

.card-links-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-card-title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-card-title-section a img {
  margin: 16px auto ;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.nav-list div span {
  margin: 0px 6px;
  overflow: hidden;
}

.nav-list div span:hover{
  font-weight: bold;
}
